//Variables
$color_1: #000;
$color_2: rgba(194, 194, 194, 0.418);
$color_3: #fff;
$color_4: #ee267d;

$font-title: Arial, Sans-serif, serif;
$font-text: Arial, Sans-serif, serif;

$screen_sm: '768px';
$screen_md: '1024px';
$screen_lg: '1200px';