body {
  margin: 0;
  font-family: Arial, Sans-serif, serif; }

.seccion {
  width: 100%;
  margin-bottom: 5%; }
  .seccion h2 {
    text-align: center; }
    .seccion h2 span {
      padding: 0 2%;
      border-bottom: 2px solid #ee267d; }

.logo {
  max-width: 80%; }
  @media (min-width: 768px) {
    .logo {
      max-width: 90%; } }

header {
  display: grid;
  padding-bottom: 1%;
  grid-template-columns: 40% 45% 15%; }
  @media (min-width: 768px) {
    header {
      grid-template-columns: 20% 60% 20%; } }
  header .logo {
    padding: 6% 0 0 5%;
    width: 100%; }
    @media (min-width: 768px) {
      header .logo {
        padding: 5% 0 0 5%; } }
  header .nombre_hotel {
    padding: 4% 0 0 0; }
    header .nombre_hotel h1 {
      margin: 0;
      font-size: 1.4em;
      text-align: center;
      font-family: Arial, Sans-serif, serif; }
      @media (min-width: 768px) {
        header .nombre_hotel h1 {
          font-size: 1.7em; } }
      header .nombre_hotel h1 span {
        display: none;
        vertical-align: sub; }
        @media (min-width: 768px) {
          header .nombre_hotel h1 span {
            display: block; } }
  header .tels-dsk {
    display: none;
    padding: 5% 0; }
    @media (min-width: 768px) {
      header .tels-dsk {
        display: block; } }
    header .tels-dsk div {
      margin: 4% 0; }
    header .tels-dsk img {
      width: 20px;
      vertical-align: bottom; }
  header .menu {
    cursor: pointer;
    padding: 31% 20% 0% 20%; }
    @media (min-width: 768px) {
      header .menu {
        display: none; } }
    header .menu span {
      width: 100%;
      display: block;
      margin-bottom: 25%;
      border-top: 3px solid #000; }

#menu-movil {
  height: 0px;
  display: none;
  text-align: right;
  background-color: rgba(194, 194, 194, 0.418); }
  @media (min-width: 768px) {
    #menu-movil {
      border: 2px solid rgba(194, 194, 194, 0.418);
      text-align: center;
      display: block;
      height: auto; } }
  #menu-movil a {
    padding: 1%;
    display: block;
    color: #000;
    text-decoration: none;
    border-bottom: 2px solid #fff; }
    @media (min-width: 768px) {
      #menu-movil a {
        padding: 1%;
        border: none;
        padding: 2% 4%;
        display: inline-block; } }
    #menu-movil a:hover {
      background-color: #fff; }

#seccion-galeria {
  margin-top: 3%; }
  #seccion-galeria .galeria-container img {
    height: 310px; }
    @media (min-width: 768px) {
      #seccion-galeria .galeria-container img {
        height: auto;
        width: 100%; } }
  #seccion-galeria .galeria-container .slick-arrow {
    display: none !important;
    z-index: 1; }
    #seccion-galeria .galeria-container .slick-arrow::before {
      font-size: 40px; }
    @media (min-width: 768px) {
      #seccion-galeria .galeria-container .slick-arrow {
        display: inline-block !important; } }
  #seccion-galeria .galeria-container .slick-prev {
    left: 1%; }
  #seccion-galeria .galeria-container .slick-next {
    right: 3%; }

@media (min-width: 768px) {
  #seccion-video iframe {
    width: 50%;
    height: 330px;
    margin: auto;
    display: block; } }

#seccion-servicios {
  padding-bottom: 5%;
  background-color: rgba(194, 194, 194, 0.418); }
  @media (min-width: 768px) {
    #seccion-servicios {
      padding-bottom: 1%; } }
  #seccion-servicios h2 {
    padding-top: 2%;
    margin-top: 0; }
  #seccion-servicios .row-servicio {
    display: grid;
    margin: 0 3% 5% 3%;
    text-align: center;
    justify-items: stretch;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-column-gap: 4%;
    grid-row-gap: 4%; }
    @media (min-width: 768px) {
      #seccion-servicios .row-servicio {
        grid-template-columns: 20% 20% 20% 20%;
        grid-template-rows: auto;
        grid-column-gap: 5%;
        grid-row-gap: 4%; } }
    #seccion-servicios .row-servicio .servicio .titulo-servicio {
      margin: 1% 0; }
    #seccion-servicios .row-servicio .servicio .info-servicio {
      margin: 0; }

@media (min-width: 768px) {
  #seccion-habs .row-habs {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: auto;
    grid-column-gap: 1%;
    grid-row-gap: 1%; } }
#seccion-habs .row-habs .hab {
  position: relative;
  margin: 2% 0; }
  #seccion-habs .row-habs .hab img {
    width: 100%; }
  #seccion-habs .row-habs .hab .sombra {
    top: 0;
    left: 0;
    right: 0;
    bottom: 1%;
    color: #fff;
    cursor: pointer;
    text-align: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6); }
    @media (min-width: 768px) {
      #seccion-habs .row-habs .hab .sombra {
        display: none; } }

@media (min-width: 768px) {
  #seccion-contacto {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-column-gap: 1%;
    grid-row-gap: 1%; } }
#seccion-contacto iframe {
  width: 100%;
  height: auto; }
  @media (min-width: 768px) {
    #seccion-contacto iframe {
      width: 100%;
      height: 100%; } }
#seccion-contacto img {
  width: 100%; }
#seccion-contacto form {
  margin: 4%; }
  #seccion-contacto form .campo-vacio {
    border: 1px solid red; }
  #seccion-contacto form .grupo {
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-row-gap: 4%; }
  #seccion-contacto form .grupo-2 {
    display: grid;
    margin-top: 8%;
    grid-template-columns: 80% 20%;
    grid-row-gap: 4%; }
  #seccion-contacto form button {
    margin: 3% 0;
    float: right; }
  #seccion-contacto form #campos-rojos, #seccion-contacto form #envio_fallido {
    color: red;
    display: none; }

footer {
  width: 100%;
  display: grid;
  padding: 3% 0;
  margin-top: 15%;
  background-color: rgba(194, 194, 194, 0.418);
  justify-items: center;
  grid-template-columns: 50% 50%; }
  @media (min-width: 768px) {
    footer {
      margin-top: 10%; } }
  footer .redes-sociales {
    width: 100%;
    text-align: center; }
    footer .redes-sociales a {
      display: inline-block;
      margin: 5%;
      color: #6f6f6f;
      font-size: 1.5em;
      text-decoration: none; }

/*# sourceMappingURL=main.css.map */
